@font-face {
    font-family: OptimusPrinceps;
    src: url(OptimusPrinceps.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.logo-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url(cant-Ipv_MNTzcQI-unsplash.jpg);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: 75%;
    flex-shrink: 0;
    min-width: 350px
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: OptimusPrinceps;
    font-size: 60px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    gap: 0.5rem;
    margin: 25vh 0 auto 0;
    padding: 1rem;
}

.logo-card img {
    height: 100px;
}

.credit, .credit a, .credit a:visited {
    text-align: center;
    color: white;
    margin-bottom: .5rem;
}

.form-area {
    background-color: rgb(240, 234, 226);
    min-width: 500px;
    flex-shrink: 0;
    flex: 2;
}

.form-intro, .form-submit, .form-body {
    height: 33vh;
}

.form-intro {
    font-size: 2.5rem;
    font-family: OptimusPrinceps;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 2rem;
    padding: 4rem 2rem;
}

.form-intro p {
    width: min(80%, 800px);
}

.form-body, .form-submit {
    padding: 1rem 2rem;
}

.form-body {
    background-color: rgb(238, 238, 238);
    box-shadow: 0 20px 20px -20px black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    overflow: auto;
}

.form-body h2 {
    font-size: 2rem;
}

.input-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 800px;
    /* width: min(80%, 800px); */
}

.input-fields > div {
    display: flex;
    flex-direction: column;
    flex-basis: min(400px, 45%);
    font-size: 1rem;
    min-width: 300px
}

input {
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 100%;
}

.error {
    border-color: red;
}

input:focus {
    box-shadow: 2px 2px 5px 1px gray;
    border-color: blue;
    outline: none;
}

.error-message {
    color: red;
    font-size: .75rem
}

.form-submit button {
    color: white;
    background-color: rgb(172, 191, 204);
    font-size: 32px;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 20px 20px -20px black;
    margin-bottom: 2rem;
}

.form-submit button:hover {
    background-color: rgb(188, 209, 223);
}

.form-submit button:active, .form-submit button:focus {
    background-color: rgb(124, 143, 156);
}

.login p, .login a {
    font-size: large;
    text-decoration: none;
}

.login a, .login a:visited {
    color: rgb(128, 128, 128);
}