@font-face {
    font-family: OptimusPrinceps;
    src: url(OptimusPrinceps.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited {
    color: inherit;
}

.logo-card, .form-intro {
    font-family: OptimusPrinceps;
}

html, body {
    height: 100%;
    margin: auto;
}

body {
    display: flex;
    background-color: rgb(240, 234, 226);
}

.logo-sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(cant-Ipv_MNTzcQI-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-card {
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 4rem;
    padding: .5rem 1rem;
}

.logo-card img {
    height: 6rem
}

.logo-card, .credit {
    color: white;
}

.credit {
    text-align: center;
    margin-top: auto;
}

.form-area {
    flex: 2;
    height: 100%;
}

.form-intro {
    font-size: 2.5rem;
    min-width: 300px;
    max-width: 650px;
}

.form-intro p, .form-body, .form-submit {
    padding: 1rem;
}

.form-body {
    background-color: rgb(238, 238, 238);
    box-shadow: 0 20px 20px -20px black;
    max-width: 650px;
}

.input-fields {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    gap: 10px;
}

.input-fields > div {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 2px;
}

input {
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
}

.error {
    border-color: red;
}

input:focus {
    box-shadow: 2px 2px 5px 1px gray;
    border-color: blue;
    outline: none;
}

.error-message {
    color: red;
    font-size: .75rem
}

.form-submit button {
    color: white;
    background-color: rgb(172, 191, 204);
    font-size: 32px;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 20px 20px -20px black;
    margin-bottom: 2rem;
}

.form-submit button:hover {
    background-color: rgb(188, 209, 223);
}

.form-submit button:active, .form-submit button:focus {
    background-color: rgb(124, 143, 156);
}

.login p, .login a {
    font-size: large;
    text-decoration: none;
}

.login a, .login a:visited {
    color: rgb(128, 128, 128);
}